node_modules/
npm-debug.log
package-lock.json
build/
!example/ui/build/
dist/
vendor/
.vscode/

.gotron/
.gotron-builder/
gotron-builder

example/example.exe
example/example
example/gotron-builder

*.d.ts

.DS_Store
